header, footer {background-color: #ba4998; color: #facefc; font-size: 20px; height: 80px;}
header {position: fixed; top: 0px; left:0px; right: 0px; display: inline; text-align: center;}
footer {position: fixed;bottom: 0px; left: 0px;right: 0px; text-align: center;}
nav li {text-transform: uppercase; list-style: none; display: inline; margin-left: 10px; text-align: center;}
nav a {color:#fcceed; text-decoration: none; text-align:center; display: inline}
nav a:hover{text-decoration: underline; font-size: 28px; transition: 0.5s;}
body {background-color: #ea3efa; text-align: center; font-size: 18px; position: absolute; top: 90px; bottom: 90px; font-family: 'Itim', cursive;}
main {background-color: #fc8ded; margin-bottom: 100px; text-align: center;}
iframe {text-align: center}
#lista01 {display:inline-block; text-align: center;}
